.cal__hours {
  margin: 0;
  padding: 0;
  left: 0;
  font-size: 11px;
  color: #ccc;
  margin-right: 8px;
  font-weight: 200;
}

.cal_hours-label {
  height: 40px;
}

.cal-day__grid-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.cal-day__grid {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  overflow: scroll;
  height: 100%;
  padding: 0 32px;
}

.cal-day__grid__header {
  font-size: 16px;
  font-weight: 200;
  padding-bottom: 8px;
  border-bottom: 2px solid #eee;
  margin: 0px 32px 0px 16px;
  margin-bottom: 4px;
}

.day-view {
  padding-left: 45px;
}

.day-view__grid {
  position: relative;
  width: 100%;
  margin-top: 6px;
}

.day-view__grid-hour {
  height: 40px;
  border-top: 1px solid #f8f9fa;
}

.day-events {
  position: absolute;
  top: 0;
  width: 100%;
  height: 960px;
}

.day-view__event {
  position: absolute;
  width: 100%;
  background: #339af0;
  color: white;
  padding: 10px;
  cursor: pointer;
}
