.mini-month-navigator {
  margin-top: 15px;
  width: 100%;
}

.mini-month-navigator tr {
  height: 30px;
}

.mini-month-navigator td.today {
  color: white;
  background: #333;
  border-radius: 50%;
}

.mini-month-navigator td {
  width: 36px;
  height: 36px;
  text-align: center;
}

.mini-month-navigator .day {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.mini-month-navigator .day.offset {
  color: #eee;
}

.mini-month-navigator .day:hover {
  background: #f1f3f5;
}

.mini-month-navigator .current {
  background: #868e96;
  color: white;
}

.mini-month-navigator .current:hover {
  background: #495057;
  color: white;
}

.mini-month-navigator .today {
  background: #495057;
  color: white;
}

.mini-month-navigator .today:hover {
  background: #212529;
}
