.day-titles {
  display: flex;
  flex-direction: row;
}

.day-title {
  width: 24px;
  height: 24px;
  font-size: 11px;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mini-month-navigator {
  width: 224px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.mini-month-navigator .day {
  width: 24px;
  height: 24px;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  margin: 4px;
}

.mini-month-navigator .day.offset {
  color: #eee;
}

.mini-month-navigator .day:hover {
  background: #f1f3f5;
}

.mini-month-navigator .current {
  background: #868e96;
  color: white;
}

.mini-month-navigator .current:hover {
  background: #495057;
  color: white;
}

.mini-month-navigator .today {
  background: #495057;
  color: white;
}

.mini-month-navigator .today:hover {
  background: #212529;
}
