.mini-month-navigator {
  margin-top: 15px;
  width: 100%;
}

.mini-month-navigator tr {
  height: 30px;
}

.mini-month-navigator td.today {
  color: white;
  background: #333;
  border-radius: 50%;
}

.mini-month-navigator td {
  width: 36px;
  height: 36px;
  text-align: center;
}