* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #2e2e2e;
}

#calendar {
  height: 100%;
}

.calendar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.calendar .top {
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px;
}

.calendar .top .navigation, .calendar .top .view-change {
  display: flex;
  align-items: center;
}

.calendar .main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.calendar .main .sidebar {
  width: 300px;
  border-right: 1px solid #eee;
}

.calendar .sidebar {
  padding: 15px;
}

.calendar .sidebar #sidebar-month table {
  margin-top: 30px;
  width: 100%;
}

.calendar .sidebar #sidebar-month table tr {
  height: 30px;
}

.calendar .main .view {
  flex: 1;
  display: flex;
  overflow: scroll;
}

.calendar .main .views {
  flex: 1;
  position: relative;
}

.labels {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  font-size: 13px;
  color: #ccc;
}

.labels li {
  list-style: none;
  height: 40px;
}

.calendar .main .view-week {
  padding-left: 40px;
  padding-top: 10px;
  display: flex;
}

.view-week .labels {
  top: 60px;
}

.calendar .main .view-month {
  /* display: none; */
}

.view-month table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.view-month th, .view-month td {
  border: 1px solid #e2e2e2;
}

.calendar .main .view-week .days {
  display: flex;
  flex: 1;
}

.calendar .main .view-week .day-grid {
  width: 14.285713%;
}

.calendar .main .view-week .day-grid .hour {
  border-right: 1px solid #e2e2e2;
}

.calendar .main .view-week .day-grid:last-child .hour {
  border-right: none;
}

.day-label {
  font-weight: 300;
  color: #222;
  margin: 0;
  height: 60px;
}

.month-table td {
  vertical-align: top;
}

.sidebar-month td.today {
  color: white;
  background: #333;
  border-radius: 50%;
}

.sidebar-month td {
  width: 36px;
  height: 36px;
}

.month-table p {
  text-align: right;
  margin: 0;
}

.date-info {
  margin: 0;
  font-weight: 300;
  line-height: 40px;
}

.new-event-form {
  margin-top: 30px;
}

.form-field {
  width: 100%;
}

.day-grid .hour {
  height: 40px;
  border-top: 1px solid #e2e2e2;
}

.view-day {
  padding-left: 40px;
  padding-top: 10px;
}

.calendar .main .view-day .day-grid {
  position: relative;
  width: 100%;
}

.calendar .main .view-week .day-grid {
  width: 14.285713%;
  border-right: 1px solid #e2e2e2;
}