* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #2e2e2e;
}

#root {
  height: 100%;
}

#calendar {
  height: 100%;
}

.calendar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.calendar .main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.calendar .main .sidebar {
  width: 300px;
  border-right: 1px solid #eee;
}

.calendar .sidebar {
  padding: 15px;
}

.calendar .main .view {
  flex: 1;
  display: flex;
  overflow: scroll;
}

.calendar .main .views {
  flex: 1;
  position: relative;
}

.calendar .main .view-week {
  padding-left: 40px;
  padding-top: 10px;
  display: flex;
}

.view-week .labels {
  top: 60px;
}

.calendar .main .view-week .day-grid {
  width: 14.285713%;
  border-right: 1px solid #e2e2e2;
}

.view-month table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.view-month th,
.view-month td {
  border: 1px solid #e2e2e2;
}

.calendar .main .view-week .days {
  display: flex;
  flex: 1;
}

.calendar .main .view-week .day-grid {
  width: 14.285713%;
}

.calendar .main .view-week .day-grid .hour {
  border-right: 1px solid #e2e2e2;
}

.calendar .main .view-week .day-grid:last-child .hour {
  border-right: none;
}

.day-label {
  font-weight: 300;
  color: #222;
  margin: 0;
  height: 60px;
}

.month-table td {
  vertical-align: top;
}

.month-table p {
  text-align: right;
  margin: 0;
}

.date-info {
  margin: 0;
  font-weight: 300;
  line-height: 40px;
}

.new-event-form {
  margin-top: 30px;
}

.form-field {
  width: 100%;
}

.month-table {
  width: 100%;
  height: 100%;
}

.month-table td {
  border: 1px solid #e2e2e2;
}

.new-event {
  position: absolute;
  width: 100%;
  height: 100%;
}

.fade {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.6;
  top: 0;
}

.new-event-form {
  width: 400px;
  z-index: 100;
  position: absolute;
  background: #fff;
  left: 50%;
  margin-left: -200px;
  padding: 15px;
}

.event-form__date {
  margin-right: 15px !important;
}

.event-form__title {
  font-weight: 300;
}

.event-form__label {
  display: block;
  margin: 0.25em 0;
}

.event-form__name,
.event-form__date,
.event-form__time,
.event-form__comment {
  padding: 0.5em 0.6em;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  margin: 0.25em 0;
}

.event-form__name,
.event-form__comment {
  display: block;
  width: 100%;
}

.event-form__comment {
  resize: none;
}

.event-form__submit {
  float: right;
  margin-top: 10px;
}
