html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #2e2e2e;
}
#root {
  height: 100%;
}
